/* ======= Google fonts ========  */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@1,600&display=swap');

/* ========  All Selector Setup =========  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

:root {
  --primary-color: #2D2D2D;
  --secondary-color: #B2294B;
  --white-color: #FFFFFF;
  --accent-color: #32C08D;
  --neutral-color: #E4BC28;
  --primary-font: 'Playfair Display';
  --secondary-font: 'Inter';
}

/* ========= Start-Project ========== */
/* ===========  Nav-Css-Start ========  */
.nav-container {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.08);
  padding: 1.7rem 3rem;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li>a {
  font: normal 400 1.6rem/2.2rem var(--secondary-font);
  color: var(--white-color);
  text-decoration: none;
  margin-right: 4rem;
  padding: 1.2rem;
}

#nav-toggler {
  display: none;
}

.nav-toggler-icon {
  display: none;
  font-size: 3rem;
  color: var(--white-color);
}

/* .nav-container ul>li>a.active {
  border-bottom: .3rem solid #FFFFFF;
}
.nav-container ul>li>a:hover{
  border-bottom: .3rem solid #FFFFFF;
} */

.login-button,
.contact-button,
.submit-button,
.footer-button {
  margin-right: 2.4rem;
  padding: .8rem 1.6rem;
  cursor: pointer;
  border: .1rem solid var(--white-color);
  border-radius: 1.6rem 3.2rem 3.2rem 0rem;
  background-color: transparent;
  outline: none;
  font: italic 600 1.6rem/2.2rem var(--primary-font);
  text-align: center;
  color: var(--white-color);
}

.contact-button {
  margin-right: 0rem;
  background-color: var(--white-color);
  color: var(--secondary-color);
}

/* ===========  Nav-Css-Ends ========  */

/* ===========  Banner Css Starts =========  */
.hero-container {
  height: fit-content;
  background-color: #FCF8E9;
}

.banner-top-heading {
  text-align: center;
}

.meet-chat {
  font: italic 600 5.6rem/120% var(--primary-font);
  color: var(--primary-color);
  padding: 7.6rem 0 1.6rem 0;
}

.Influencers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Influencers h4 {
  font: italic 600 5.6rem/120% var(--primary-font);
  color: var(--neutral-color);
  background: var(--white-color);
  border-radius: 1.6rem 3.2rem 3.2rem 0rem;
  padding: .8rem 2.4rem;
  margin: 0 0 7.6rem 1.6rem;
}

.banner-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image-content img {
  width: 100%;
}

.banner-image-content {
  flex-basis: 56%;
}

.banner-text-content {
  flex-basis: 40%;
  padding: 4rem 7rem;
}

.banner-text-content p {
  font: normal 400 1.8rem/2.7rem var(--secondary-font);
  color: var(--primary-color);
  margin-bottom: 2.4rem;
}

.works-icon-button {
  font: italic 600 2.4rem/2.4rem var(--primary-font);
  text-align: center;
  color: var(--secondary-color);
  padding: 1.6rem 5rem;
  background-color: var(--white-color);
  border: none;
  box-shadow: 0rem .2rem 0rem rgba(0, 0, 0, 0.043);
  border-radius: 1.6rem 3.2rem 3.2rem 0rem;
}

.fa-arrow-right {
  font-size: 1.7rem;
  margin-left: 1rem;
}

/* ===========  Banner Css Ends =========  */

/* ==========  Connection Section Css Starts ========  */
.connection-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 2rem 10rem 2rem;
}

.connection-main-heading {
  font: italic 600 4rem/4.9rem var(--primary-font);
  text-align: center;
  color: #2D2D2D;
  padding: 5rem 30rem;
}

.green-heart {
  color: var(--accent-color);
}

.yellow-heart {
  color: var(--neutral-color);
}

.brown-heart {
  color: var(--secondary-color);
}

.connection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.connection-card {
  padding: 3.6rem;
  border: 0.5px solid #A6A6A6;
  box-shadow: 0px 1px 3px rgba(2, 1, 1, 0.1), 0px 2px 1px rgba(2, 1, 1, 0.06), 0px 1px 1px rgba(2, 1, 1, 0.08);
  border-radius: .8rem;
}

.connection-card img {
  display: block;
  margin: 0 auto;
}

.connection-card h1 {
  font: italic 600 2.4rem/2.9rem var(--primary-font);
  color: var(--primary-color);
  padding: 4.8rem 0 1.6rem;
  text-align: center;
}

.connection-card p {
  font: normal 400 1.6rem/2.4rem var(--secondary-font);
  color: #000000;
  text-align: center;
}

.connection-background-1 {
  background: #EAF9F4;
}

.connection-background-2 {
  background: #FCF8E9;

}

.connection-background-3 {
  background: hsl(346, 45%, 94%);
}

/* ==========  Connection Section Css Ends ========  */

/* ==============  Summary Section Css Starts =============  */
.summary-container {
  height: 299px;
  background: url("../Images/Coupple.png");
  background-color: var(--secondary-color);
  margin-bottom: 5.6rem;
}

.summary-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.summary-card {
  padding: 8.2rem 0;
  text-align: center;

}

.summary-card h1 {
  font: italic 600 2.4rem/2.9rem var(--primary-font);
  letter-spacing: -0.04rem;
  color: var(--white-color);
  margin: 1.6rem 0 .8rem 0;

}

.summary-card p {
  font: normal 400 1.8rem/2.7rem var(--secondary-font);
  color: var(--white-color);
}

/* ==============  Summary Section Css Ends =============  */

/*==============  Influencer Section Css Starts =========== */
.Influencers-container,
.Personality-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 7rem;
}

.influencers-image {
  flex-basis: 50%;
}

.influencers-image img {
  width: 100%;
  padding: 1rem;
}

.influencers-content {
  flex-basis: 50%;
  margin-left: 10rem;
  padding: 1rem;
}

.influencers-content h1 {
  font: italic 600 3.2rem/3.9rem var(--primary-font);
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

.specifice-influencers {
  color: var(--accent-color);
}

.influencers-content p {
  font: normal 400 1.8rem/2.7rem var(--secondary-font);
  align-items: center;
  color: var(--primary-color);
  opacity: 0.8;
}

.know-more-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  margin-top: 1.6rem;
}

/*==============  Influencer Section Css Ends =========== */
/*==============  Personality Section Css Starts =========== */
.specifice-personality {
  color: var(--neutral-color);
}

.personality-button {
  background-color: var(--neutral-color);
}

.personality-content {
  margin: 0 5rem;
  padding: 0rem;
}

/*==============  Personality Section Css Ends =========== */
/*==============  Lurkers Section Css Starts =========== */
.specifice-lurkers {
  color: var(--secondary-color);
}

.lurkers-button {
  background-color: var(--secondary-color);
}

/*==============  Lurkers Section Css Ends =========== */
/*==============  Lurkers Section Css Starts =========== */
.contact-container {
  height: 690px;
  background: url("../Images/Contact-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 559px;
  background-color: var(--white-color);
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 3px rgba(2, 1, 1, 0.1), 0px 2px 1px rgba(2, 1, 1, 0.06), 0px 1px 1px rgba(2, 1, 1, 0.08);
  border-radius: .8rem
}

.form-heading {
  font: italic 600 2.4rem/3.6rem var(--primary-font);
  color: var(--secondary-color);
  text-align: center;
  padding: 2.2rem 0;
}

.name-input,
.email-input,
.mobile-number-input,
.message-input {
  width: 496px;
  height: 60px;
  background: var(--white-color);
  opacity: 0.6;
  border: 1px solid #334155;
  border-radius: .8rem;
  display: block;
  margin-bottom: 1.5rem;
  outline: none;
  padding: 1.8rem 2.4rem;
  font: normal 400 1.6rem/2.4rem var(--secondary-font);
}

.message-input {
  height: 125px;
}

.submit-button {
  margin: 0 auto;
}

.submit-button {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==============  Lurkers Section Css Ends =========== */
/*==============  Footer Section Css Starts =========== */
.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container {
  background: #B2294B;
  padding: 4.5rem 7rem 2rem 7rem;
}

.footer-logo p {
  font: normal 400 1.4rem/2.1rem var(--secondary-font);
  color: var(--white-color);
  margin: 1.5rem 0 2.4rem 0;
}

.footer-heading {
  font: italic 600 2.4rem/3.6rem var(--primary-font);
  letter-spacing: -0.04em;
  color: var(--white-color);
  margin-bottom: 1.6rem;
}

.footer-link,
.newsletter {
  margin: 0 auto;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  margin-bottom: 1.6rem;
}

.footer-list>li>a {
  font: normal 400 1.4rem/2.1rem var(--secondary-font);
  text-decoration: none;
  color: var(--white-color);
}

.footer-button {
  margin-right: 0rem;
  margin-bottom: 1.6rem;
  padding: 1rem 6.5rem;
  letter-spacing: -0.04em;
}

.subscribe-button {
  padding: 1rem 7rem;
  background: var(--white-color);
  color: var(--secondary-color);
}

.payment {
  font: normal 700 1.4rem/2.2rem var(--secondary-font);
  color: var(--white-color);
  margin-bottom: .6rem;
}

.fa-lock {
  margin-right: .5rem;
  font-size: 1.5rem;
}

.payment-image {
  cursor: pointer;
}

.horizantal-line {
  opacity: 0.24;
  border: .1rem solid #FFFFFF;
  margin-top: 1.4rem;
}

.copyright {
  font: normal 400 1.4rem/2.2rem var(--secondary-font);
  color: var(--white-color);
  text-align: center;
  margin-top: 1.6rem;
}

.footer-brand {
  display: flex;
}

.footer-facebook,
.footer-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
}

.fa-facebook-f,
.fa-instagram {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.footer-instagram {
  margin-left: 1.6rem;
}

/*==============  Footer Section Css Starts =========== */


@media (max-width:992px) {
  html {
    font-size: 9px;
  }

  .banner-text-content {
    flex-basis: 45%;
    padding: 2rem 4rem;
  }

  .works-icon-button {
    padding: 1.6rem 3.5rem;
  }

  .banner-image-content {
    flex-basis: 55%;
  }

  .nav-container ul>li>a {
    margin-right: .8rem;
  }

  .login-button {
    margin-right: .8rem;
  }

  .nav-container {
    padding: 1.7rem 1rem;
  }

  .connection-main-heading {
    padding: 5rem 20rem;
  }
}

@media screen and (max-width:785px) {
  html {
    font-size: 8px;
  }

  .nav-container {
    padding: 2rem 4rem;
  }

  .nav-toggler-icon {
    display: block;
  }

  .navigation {
    display: block;
    text-align: center;
  }

  .navigation-button {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1rem auto;
  }

  .contact-button {
    margin-right: 0rem;
    margin-top: 1rem;
  }

  .navigation-container {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 8.3rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 3rem;
    transform: translateX(-1000px);
    transition: 2s ease-in-out;
  }

  .navigation li {
    margin-bottom: 1rem;
  }

  #nav-toggler:checked~.navigation-container {
    transform: translateY(0px);
  }

  .banner-main-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-text-content {
    padding: 4rem 6rem;
  }

  .connection-main-heading {
    padding: 5rem 10rem;
  }

  .connection-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .summary-container {
    margin-bottom: 1rem;
  }

  .Influencers-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .influencers-content {
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .Personality-container {
    display: block;
  }

  .form-container {
    width: 550px;
    height: 559px;
  }

  .footer-grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (max-width:540px) {
  html {
    font-size: 7px;
  }

  .connection-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .connection-main-heading {
    padding: 4rem 2rem;
  }

  .summary-container {
    height: fit-content;
  }

  .summary-card {
    padding: 4rem 0;
    text-align: center;
  }

  .summary-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-logo {
    text-align: center;
  }

  .footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container {
    background: #B2294B;
    padding: 4.5rem 4rem 2rem 4rem;
  }

  .contact-container {
    height: 600px;
  }

  .form-container {
    width: 400px;
    height: 460px;
  }

  .name-input,
  .email-input,
  .mobile-number-input,
  .message-input {
    width: 300px;
    height: 60px;
  }

  .Influencers h4 {
    padding: 0.8rem 1.5rem;
    margin: 0 0 3rem 1.5rem;
  }
}

/* @media (max-width:360px) {
  .meet-chat {
    font: italic 600 3.2rem/3.8rem var(--primary-font);
    padding: 4rem 0 1rem 0;
}
  .Influencers h4 {
    font: italic 600 3.2rem/3.8rem var(--primary-font);
    padding: 0.5rem 1rem;
  }
 
} */